.container {
    text-align: center;
    margin: 50px auto;
}

#countdown {
    font-size: 3rem;
    font-weight: bold;
}

/* .disabled {
    opacity: 0.5;
}

#countdownContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;   

} */

/* .hidden {
    display: none;
} */
